[Unit]
Description="Dynamic DNS Client for DynHost"
Requires=multi-user.target

[Service]
WorkingDirectory=/etc/dynhost
ExecStart=/usr/bin/dynhost --logfile /var/log/dynhost/dynhost.log --config /etc/dynhost/dynhost.json --scripts /etc/dynhost/scripts --rotate-log
User=dynhost
Group=dynhost

[Install]
WantedBy=multi-user.target